.contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin-bottom: 20px;
}

.formInput {
    padding: 8px;
    margin-top: 5px;
}

.formButton {
    padding: 8px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

.formButton:hover {
    background-color: #45a049;
}